@import "palette";

.block {
  font-size: 90%;
  line-height: 1.2em;
  font-family: "Courier 10 Pitch", Courier, monospace;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;

  height:1%;
  width: auto;
  display: block;
  clear: both;
  color: $palette-black;
  padding: 1em 1em;
  margin: 15px 15px 15px 0;
  background: $palette-background;
  border: solid 1px $palette-border;
}

.inline {
  font-size: 90%;
  line-height: 1.2em;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

  display: inline;
  color: inherit;
  padding: 2px 1px;
  background: $palette-background;
}
