$palette-primary: #565656 !default;
$palette-secondary: #37C0C9 !default;
$palette-tertiary: #CBEDFA !default;

$palette-border: #D8D8D8 !default;
$palette-background: #F4F6FA !default;

$weather-cold: #39444e !default;
$weather-cool: #255478 !default;
$weather-warm: #fd9813 !default;
$weather-hot: #d0021b !default;

$palette-fan: #3CAFDA !default;
