$palette-black: #354042 !default;
$palette-primary: #3CAFDA !default;
$palette-secondary: #37C0C9 !default;
$palette-alternate: #22537A !default;
$palette-danger: #DD3B4C !default;

$palette-border: #D8D8D8 !default;
$palette-subtitle: #9DAAB1 !default;
$palette-background: #F4F6FA !default;
$palette-inactive: #CED4DA !default;

$weather-cold: #39444e !default;
$weather-cool: #255478 !default;
$weather-warm: #fd9813 !default;
$weather-hot: #d0021b !default;

$weather-sunny: #f4bc26 !default;

$weather-night: #122333 !default;

$weather-day-clear: #105D6C !default;
$weather-day-cloudy: #628A99 !default;
$weather-day-fog: #0E4579 !default;
$weather-day-rain: #0E4579 !default;
$weather-day-snow: #3F485A !default;

$weather-sand: #7F441A !default;
$weather-storms: #2B1837 !default;
