$palette-black: #354042 !default;
$palette-primary: #3CAFDA !default;
$palette-secondary: #37C0C9 !default;
$palette-alternate: #22537A !default;

$palette-border: #D8D8D8 !default;
$palette-subtitle: #9DAAB1 !default;
$palette-background: #F4F6FA !default;
$palette-inactive: #CED4DA !default;

$weather-cold: #39444e !default;
$weather-cool: #255478 !default;
$weather-warm: #fd9813 !default;
$weather-hot: #d0021b !default;
$weather-clear: #f4bc26 !default;
