@import "palette";
@import "global";

h1, h2, h3, h4, h5 {
  color: $palette-primary;
  font-weight: 400;
}

h1 {
  font-size: 35px;
  position: relative;
  margin-bottom: 50px;

  &::after {
    content: '';
    display:block;
    height:10px;
    width: 100px;
    height: 6px;
    background-color: $palette-secondary;
    bottom: -20px;
    position: absolute;
    border-radius: $border-radius;
  }

  &:last-child {
    &::after {
      display:none;
    }
  }
}

h2 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0.25em;
}
