.indexCard {
  fill: whitesmoke;
  font-size: 22px;
  overflow: hidden;
}

.question {
  font-size: 55px;
  fill: white;
  stroke: none;
}

foreignObject {
  img {
    display: block;
    height: 100px;
    margin: 1rem auto;
  }
}
