@import "_palette";
@import "_typography";
@import "node_modules/nio-css-theme/dist/modules/button";

.button {
  vertical-align: middle;
  text-align: center;
}

.garbage {
  background-color: green;

  &:hover {
    background-color: rgba(green, 0.6);
  }
}

.square { border-radius: 0; }

.nextProjButton {
  @extend .button;

  float: right;
  background-color: $palette-secondary;

  &:hover, &:active, &:focus {
    background-color: $palette-secondary;
  }

  text-decoration: none;
  color: #FFF;
  line-height: 1.9em;
}
