@import "_palette";
@import "_typography";
@import "_global";

.wrapper {
  width: 770px;
  margin: 0 25px 15px 25px;

  .container {
    border: 2px solid $palette-border;
    width: 746px;
    display: inline-block;
    padding: 0 0 0 25px;
    border-radius: $border-radius $border-radius 0 0;
    height: 185px;
    border-color: $palette-border;
    background-color: #fff;

    h2, i {
      color: #fff;
      display: inline-block;
      margin-right: 25px;
      text-shadow: 0 1px 2px rgba(0,0,0,.5);
      font-size: 5rem;
      margin-bottom:0;
    }

    .left {
      width: 196px;
      height: 187px;
      display: inline-block;
      text-align: center;
      background-color: $palette-fan;
      border-radius: $border-radius 0 0 0;
      position:relative;
      margin-left: -25px;
      margin-bottom: -21px;
      float:left;

      &::after {
        content: '';
        background: url(img/icon-fan.svg);
        display: block;
        position: absolute;
        left: 34px;
        top: 34px;
        height: 120px;
        width: 120px;
        background-repeat: no-repeat;
        background-size: 100%;

      }
      .off {
        animation:none;
      }
      .on {
        &::after {
          animation: spin 1s infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
      }
    }

    .chartContainer {
      width: calc(100% - 171px);
      display: inline-block;

      svg {
        max-height: 100%;
        max-weight: 100%;
      }
    }

    .right {
      width: 541px;
      display: inline-block;
      height: 187px;
      position: absolute;

      i {
        margin-top: 57px;
        margin-left: 57pxpx;
      }

      h4 {
        font-size:20px;
        font-weight:bold;
        text-align:center;
        width:100%;
      }
    }

    h3 {
      display:inline-block;
      text-align:center;
      flex:1;
      margin:0;
      color: #fff;
      text-shadow: 0 1px 2px rgba(0,0,0,.5);
      position:relative;

      &:first-child {
        &::after{
          content: '';
          display: block;
          width: 1px;
          height: 38px;
          position: absolute;
          right: 0px;
          border-right: 1px solid rgba(255, 255, 255, 0.4);
          top: -8px;
        }
      }
    }
  }

  h2 {
    &.socketRoom {
      background-color: #565656;
      display: block;
      height: 50px;
      margin-top: 0px;
      color: #fff;
      padding: 10px 0 10px 20px;
      line-height: 50px;
      font-size: 1.2em;
      width: calc(100% - 16px);
    }
  }

  textarea {
    width: calc(100% - 28px);
    min-height: 100px;
    padding: 15px;
    font-size: 1em;
    margin-top: -17px;
    border-radius:0 0 6px 6px;
    border: 2px solid $palette-border;
  }


}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
