@import "palette";

$fan-animation: unique-id();
@keyframes #{$fan-animation} {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.fan {
  display: block;
  flex: 1;
  background-color: $palette-primary;
  position:relative;
  border-right: 2px solid $palette-border;

  &::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url(img/icon-fan.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 120px;
    height: 100%;
    width: 100%;
  }
}

.active {
  &::after {
    animation: $fan-animation 1.5s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}
