@import "palette";

// styles for middle section of header
.speed {
  background-color: $palette-secondary;
  text-align: center;
  flex:1;
  color: #fff;
  border-right: 2px solid $palette-border;
}

.value {
  font-size: 5em;
  font-weight: 500;
  text-shadow: none;
  margin: 0;
}

.title {
  font-size: 1.25em;
  font-weight: 300;
  margin: 20px 0 0 0;
}

.units {
  font-size: 3em;
  margin: -5px 0 0 0;
  font-weight: 200;
}
