@import "palette";

// styles for middle section of header
.speed {
  position: relative;
  background-color: $palette-alternate;
  text-align: center;
  flex:1;
  color: #fff;
  border-right: 2px solid $palette-border;
}

.title {
  font-size: 1.25em;
  font-weight: 300;
  margin: 1.25rem 0 0 0;
}

%arrow {
  position: absolute;
  top: 0.8rem;
  height: 100%;
  width: 100%;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40%;
}

.arrowDown {
  @extend %arrow;
}

.arrowUp {
  @extend %arrow;
  transform: rotate(180deg);
}
