@import "palette";

// styles for middle section of header
.speed {
  position: relative;
  background-color: $palette-alternate;
  text-align: center;
  flex:1;
  color: #fff;
  border-right: 2px solid $palette-border;
}

.wave {
  position: absolute;
  bottom: 5%;
  left: 25%;
  height: 50%;
  width: 50%;
  stroke: white;
  transition: transform 1s;
}

.thirty {
  transform: translateY(-30%);

}
.fifty {
  transform: translateY(-50%);

}
.seventy {
  transform: translateY(-70%);

}
