@import "palette";

// styles for application header

.hidden {
  display: none;
}

.header {
  position: relative;
  height: 40px;
  background-color: $palette-black;
  color: $palette-background;
  padding: 20px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: $palette-background;
  &:visited {
    color: $palette-background;
  }
}

.icon {
  margin-right: 1rem;
  transition: 300ms;
}

.rotate {
  transform: rotate(90deg);
  transition: 300ms;
}

.logo {
  display: inline-block;
  height: 30px;
  vertical-align: bottom;
}

.name {
  display: inline-block;
  vertical-align: super;
  font-size: 30px;
  font-weight: 300;
}

.info {
  display: inline-block;
  position: relative;
  font-size: 14px;
  span {
    margin-right: 10px;
  }
}
