@import "palette";

// styles for application header
.header {
  padding: 0 40px;
  position: relative;
  height: 40px;
  background-color: $palette-black;
  color: $palette-background;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: $palette-background;
  &:visited {
    color: $palette-background;
  }
}

.logo {
  display: inline-block;
  height: 30px;
}

.name {
  display: inline-block;
  vertical-align: super;
  font-size: 30px;
  font-weight: 300;
}

.info {
  display: inline-block;
  position: relative;
  font-size: 14px;
  span {
    margin-right: 10px;
  }
}
