@import "_palette";
@import "_typography";
@import "_global";
@import "node_modules/nio-css-theme/dist/modules/button";

.instructions {
  max-height: none; // need to specify max-height for transition to work
  overflow: auto;
  padding-bottom: 28px;
  transition: max-height 1s;

  &.collapsed {
    max-height: 300px;
    overflow: hidden;
    transition: max-height 1s;
  }

  // .intro {
  //   display:flex;
  // }
  //
  // h1 {
  //   width:100%;
  //   font-weight: 400;
  // }

  // p:not(li > p) {
  //   display: inline-block;
  //   width: 65%;
  //   float: left;
  // }
  //
  // p {
  //   font-weight:300;
  // }
  //
  // video {
  //   display: inline-block;
  //   width: 300px;
  //   height: 178px;
  //   float: right;
  //   margin-left:20px;
  // }

  ul {
      margin-top: 30px;

    li {
      position:relative;
      margin-bottom:30px;

      &::before {
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        left:-50px;
      }
    }
  }
}

.video {
  display: inline-block;
  float: right;
  margin-left:20px;
}


.section_header {
  font-size: 20px;
  font-weight: bold;
}

.collapseButton {
  @extend .button;

  background-color: $palette-secondary;
  color: #FFF;
  line-height: 1.9em;
  position: absolute;
  bottom: -2em;
  left: 2em;
  margin: 0;
  height: 4em;
  width: 4em;
  min-width: 0;
  min-height: 0;
  &:hover, &:active, &:focus {
    background-color: $palette-secondary;
  }
}

ol {
    margin-top: 15px;

  li {
    position: relative;
    margin-bottom: 25px;
  }
}

code {
  background: #c5c5c5;
  display:inline-block;
  padding:5px;
  margin: 10px 0;
}
