@import "_palette";
@import "_typography";
@import "_global";
@import "node_modules/nio-css-theme/dist/modules/button";

.wrapper {
    width: 690px;
    margin: 20px 47px 0px 0;
    padding: 15px 25px 2.2em;
    position: relative;
    border: 2px solid $palette-border;
    display: inline-block;
    border-radius: $border-radius;
    min-height: 150px;
    border-color: $palette-border;
    background-color: #fff;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;

  .container {
    max-height: none;
    overflow: auto;

    &.collapsed {
      max-height: 300px;
      overflow: hidden;
    }

    -webkit-transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
    -o-transition: max-height 0.3s ease-in;
    -ms-transition: max-height 0.3s ease-in;
    transition: max-height 0.3s ease-in;

    .intro {
      display:flex;
    }

    h1 {
      width:100%;
      font-weight: 400;
    }

    p:not(li > p) {
      display: inline-block;
      width: 65%;
      float: left;
    }

    p {
      font-weight:300;
    }

    video {
      display: inline-block;
      width: 300px;
      height: 178px;
      float: right;
      margin-left:20px;
    }

    ul {
        margin-top: 30px;

      li {
        position:relative;
        margin-bottom:30px;

        &::before {
          position:absolute;
          top:50%;
          transform: translateY(-50%);
          left:-50px;
        }
      }
    }
  }
}

.section_header {
  font-size: 20px;
  font-weight: bold;
}

.button-inherit {
  @extend .button;

  background-color: $palette-secondary;

  &:hover, &:active, &:focus {
    background-color: $palette-secondary;
  }

  text-decoration: none;
  color: #FFF;
  line-height: 1.9em;
}

.collapseButton {
  @extend .button-inherit;
  position: absolute;
  bottom: -2em;
  left: 2em;
  margin: 0;
  height: 4em;
  width: 4em;
  min-width: 0;
  min-height: 0;
}

ol {
    margin-top: 15px;

  li {
    position: relative;
    margin-bottom: 25px;
  }
}

code {
  background: #c5c5c5;
  display:inline-block;
  padding:5px;
  margin: 10px 0;
}
