@import "_palette";
@import "_global";

.labData {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: $border-radius;
  border: 2px solid $palette-border;
}

.header {
  height: 225px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid $palette-border;
}

.filling {
  flex: 2;
}

.socketRoom {
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.socketHeader {
  background-color: #566265;
  display: block;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  text-indent: 16px;
  line-height: 50px;
  font-size: 1.2em;
  width: 100%;
  border-bottom: 2px solid $palette-border;
  border-top: 2px solid $palette-border;
}

.socketData {
  width: 100%;
  border: none;
  margin: 2rem;
  font-size: 1em;
  font-weight: bolder;
  white-space: pre;
}
