@import "palette";
@import "global";

.app {
  margin: 0 auto;
  padding: 20px 40px;
  background-color:$palette-background;
}

.container {
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $breakpoint) {
    flex-wrap: nowrap;
  }
}

.hide {
  display: none;
}

.paper {
  padding: 3rem;
  position: relative;
  border: 2px solid $palette-border;
  display: block;
  border-radius: $border-radius;
  background-color: #fff;
  margin-top: 50px;
}

.noDataBlock {
  display: block;
  text-align: center;
  color: $palette-subtitle;
  @media (min-width: $breakpoint) {

    &.paper {
      margin-top: 0;
    }
  }
}

.rightBlock {
  margin: 2rem 0;
  display: block;
  text-align: right;
}

.bigPanel {
  position: relative;
  width: 100%;
  & > .paper {
    margin-top: 0;
  }
  @media (min-width: $breakpoint) {
    padding-right: 5%;
    flex: 2;
  }
}

.smallPanel {
  width: 100%;
  @media (min-width: $breakpoint) {
    flex: 1;
  }
}
