@import "_palette";
@import "_global";

.light {
  flex: 1;
  display:block;
  border-top-right-radius: $border-radius;
  &::after {
    content: '';
    display: block;
    background-image: url(img/lightbulb-icon.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80px;
    height: 100%;
  }
}
