@import "palette";
@import "global";

.bar {
  display: inline-block;
  width: 200px;
  padding-left: 2rem;
  transition: width 500ms;
  background-color: white;
}

.hidden {
  width: 0;
  padding: 0;
  transition: width 500ms;
}

%item {
  display: block;
  text-decoration: none;
  margin: 1rem 0;
  position: relative;
}

.item {
  @extend %item;
}

.active {
  @extend %item;
  color: $palette-secondary;
  &::after {
    content: '';
    position: absolute;
    height: 2rem;
    width: 5px;
    border-radius: 3px;
    background-color: $palette-secondary;
    top: -4px;
    left: -26px;
  }
}
