@import "_palette";

.step_list {
}

.step {
  text-decoration: none;
  color: $palette-primary;

  &:visited {
    color: $palette-primary;
  }

  &.active {
    color: $palette-primary;
  }

  &.inactive {
    color: #ddd;
  }
}
