@import "palette";
@import "global";

.today {
  color: white;
  font-size: 4rem;
}

.cards {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  min-height: 50%;
}

.card {
  text-align: center;
  background-color: white;
  padding: 4.5rem;
  margin: 6rem;
  flex: 1;
  max-width: 15%;
  min-height: 35vh;
  border-radius: 10px;
  box-shadow: 0px 0px 120px -20px rgba(gray, 90);
}

%icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px;
  width: 220px;
  margin: 3.3rem auto;
}

.birthdays {
  @extend %icon;
  background-image: url(img/todayIcons/birthdays.svg);
}

.reminders {
  @extend %icon;
  background-image: url(img/todayIcons/reminders.svg);
}

.announcements {
  @extend %icon;
  background-image: url(img/todayIcons/announcements.svg);
}

.title {
  color: $palette-primary;
  text-transform: capitalize;
  font-size: 5rem;
  margin-bottom: 3rem;
}

.blurb {
  color: $palette-black;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
