@import "_palette";

// weather top section
.weatherHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: $palette-background;
}
.summary {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hot {
  background-image: url("img/hot.png");
  background-repeat: no-repeat;
  background-color: $weather-hot;
  background-size: 100%;
}

.warm {
  background-image: url("img/warm.png");
  background-repeat: no-repeat;
  background-color: $weather-warm;
  background-size: 100%;
}

.cool {
  background-image: url("img/cool.png");
  background-repeat: no-repeat;
  background-color: $weather-cool;
  background-size: 100%;
}

.cold {
  background-image: url("img/cold.png");
  background-repeat: no-repeat;
  background-color: $weather-cold;
  background-size: 100%;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temp {
  font-size: 5rem;
  margin-right: 2rem;
}

.detail {
  &:first-of-type {
    border-radius: 10px 0 0 10px;
  }
  &:last-of-type {
    border-radius: 0 10px 10px 0;
  }
}

.buttonLook {
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: rgba($palette-background, 0.2);
  border: 0.25px solid $palette-background;
  &:last-of-type {
    border-left: none;
  }
}

.location {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none;
  i {
    font-size: 100px;
  }
}

// weather forecast section
.forecastSection {
  padding: 1.5rem 1rem;
  background-color: white;
}
.forecastHeader {
  margin-top: 0;
  text-align: center;
}

.forecast {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecastTile {
  margin: 1rem 0;
  padding: 2rem 1rem;
  width: 8.5vw;
  min-width: 100px;
  text-align: center;
  box-shadow: 1px 2px 9px 3px rgba($palette-border, 0.3);
}

.day {
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.highLow {
  letter-spacing: 0.25rem;
}

.clear {
  color: $weather-clear;
}

.gray {
  color: $weather-cold;
}
