@import "_palette";

// weather top section
.weatherHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
}
.current {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hot {
  background-image: url("img/weather/temp-hot.png");
  background-repeat: no-repeat;
  background-color: $weather-hot;
}

.warm {
  background-image: url("img/weather/temp-warm.png");
  background-repeat: no-repeat;
  background-color: $weather-warm;
}

.cool {
  background-image: url("img/weather/temp-cool.png");
  background-repeat: no-repeat;
  background-color: $weather-cool;
}

.cold {
  background-image: url("img/weather/temp-cold.png");
  background-repeat: no-repeat;
  background-color: $weather-cold;
}

.nightClear {
  background-image: url("img/weather/night-clear.png");
  background-repeat: no-repeat;
  background-color: $weather-night;
}

.nightCloudy {
  background-image: url("img/weather/night-cloudy.png");
  background-repeat: no-repeat;
  background-color: $weather-night;
}

.nightFog {
  background-image: url("img/weather/night-fog.png");
  background-repeat: no-repeat;
  background-color: $weather-night;
}

.nightRain {
  background-image: url("img/weather/night-rain.png");
  background-repeat: no-repeat;
  background-color: $weather-night;
}

.nightSnow {
  background-image: url("img/weather/temp-cold.png");
  background-repeat: no-repeat;
  background-color: $weather-night;
}

.dayClear {
  background-image: url("img/weather/day-clear.png");
  background-repeat: no-repeat;
  background-color: $weather-day-clear;
}

.dayCloudy {
  background-image: url("img/weather/day-cloudy.png");
  background-repeat: no-repeat;
  background-color: $weather-day-cloudy;
}

.dayFog {
  background-image: url("img/weather/day-fog.png");
  background-repeat: no-repeat;
  background-color: $weather-day-fog;
}

.dayRain {
  background-image: url("img/weather/day-rain.png");
  background-repeat: no-repeat;
  background-color: $weather-day-rain;
}

.daySnow {
  background-image: url("img/weather/day-snow.png");
  background-repeat: no-repeat;
  background-color: $weather-day-snow;
}

.sand {
  background-image: url("img/weather/sand.png");
  background-repeat: no-repeat;
  background-color: $weather-sand;
}

.storms {
  background-image: url("img/weather/storms.png");
  background-repeat: no-repeat;
  background-color: $weather-storms;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
}

.temp {
  font-size: 5rem;
  font-weight: 400;
  margin-right: 2rem;
}

.detail {
  &:first-of-type {
    border-radius: 10px 0 0 10px;
  }
  &:last-of-type {
    border-radius: 0 10px 10px 0;
  }
}

.buttonLook {
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: rgba($palette-background, 0.2);
  border: 0.25px solid $palette-background;
  &:last-of-type {
    border-left: none;
  }
}

.location {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none;
  color: white;
  i {
    font-size: 70px;
    margin-bottom: 0.25em;
  }
}

// weather forecast section
.forecastSection {
  padding: 1.5rem 0;
  background-color: white;
}

.forecastHeader {
  margin-top: 0;
  text-align: center;
}

.forecast {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.forecastTile {
  margin: 1rem;
  padding: 2rem 0;
  width: calc(20% - 2rem);
  text-align: center;
  box-shadow: 1px 2px 9px 3px rgba($palette-border, 0.3);
}

.day {
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.highLow {
  letter-spacing: 0.15rem;
}

.clear {
  color: $weather-sunny;
}

.gray {
  color: $weather-cold;
}
